<?php
$this->headScript()
    ->appendFile($this->basePath() . '/js/jquery.autosize.min.js', 'text/javascript')
    ->appendFile($this->basePath() . '/js/geoxml3.js', 'text/javascript')
    ->prependFile('https://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false');
/** @var \AFE\Form\MapTool $form */
$form = $this->mapForm;
?>
<div class="page-header">
    <h1>
        Marker tool
    </h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title">Map tool</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" data-target=".widget-box" class="orange2">
                        <i class="afe-icon fa fa-expand"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body height-max">
                <div class="widget-main height-max no-padding-top no-padding">
                    <div class="height-max" id="editorSplitter">
                        <div id="map" class="height-max" style="min-height: 500px">

                        </div>
                        <div id="editor"
                             class="col-xs-5 col-md-4 col-lg-3 editor well height-max no-margin-bottom no-border-bottom"
                             style="min-height: 500px">
                            <?php echo $this->form()->openTag($form); ?>
                            <div class="form-group-sm">
                                <div class="col-xs-11 no-padding-left no-padding-right">
                                    <label class="control-label">Quadrats</label>
                                    <span id="quadrat"></span>
                                    <a href="#" id="clear-all" style="display: none">clear</a>
                                </div>
                            </div>

                            <?php foreach ($form as $element): ?>
                                <div class="form-group-sm no-padding-left no-padding-right">
                                    <div class="col-xs-11 no-padding-left no-padding-right">
                                        <?php echo $this->formRow($element) ?>
                                    </div>
                                </div>
                            <?php endforeach ?>
                            <script>
                                $('#notes').autosize();
                            </script>
                            <?php echo $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#editorSplitter').jqxSplitter({
                    width: '100%',
                    height: '100%',
                    theme: 'bootstrap',
                    panels: [
                        { size: '70%', collapsible: false },
                        { size: '30%', min: 150}
                    ]
                }).on('resize', function () {
                    $(document).trigger('afe.resize');
                });
            </script>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title">Other tools or instructions</h5>
            </div>

            <div class="widget-body height-max">
                <div class="widget-main height-max">
                    <div class="form-group-sm">
                        <div class="col-sx-2 col-sx-offset-2">
                            <?php echo sprintf($this->translate('Lorem ipsum dolor sit amet,  Mauris eget nunc fermentum, fringilla quam et, molestie sapien. Sed elementum pretium libero eu tincidunt. Donec convallis leo ut turpis viverra, ut tincidunt arcu venenatis. Fusce condimentum finibus massa, nec imperdiet tellus dictum eu. Morbi congue volutpat tempor.')) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    (function ($, document, init, google, geoXML3) {
        init.push(function () {
            this.initWidgetBox();
        });

        var map;
        var selected = {};
        var geoXml = null;

        $(document)
            .on('afe.resize', function () {
                google.maps.event.trigger(map, "resize");
            })
            .on('afe.map.select.change', function () {
                var $quadrat = $('#quadrat');
                var $clearLink = $('#clear-all');
                var allSelected = [];
                for (var i in selected) {
                    if (selected[i] !== false) {
                        allSelected.push(i);
                    }
                }

                if (allSelected.length > 0) {
                    $clearLink.show();
                } else {
                    $clearLink.hide();
                }

                if (allSelected.length > 10) {
                    $quadrat.text(allSelected.length + ' selected');
                } else {
                    $quadrat.text(allSelected.join(', '));
                }
            });

        $('#clear-all').on('click', function (e) {
            e.preventDefault();
            for (var i in selected) {
                if (selected[i] !== false) {
                    selected[i].setOptions({fillOpacity: 0});
                    selected[i] = false;
                }
            }
            $(document).trigger('afe.map.select.change');
        });

        $('#territory').on('change', function () {
            var territory = $(this).val();
            var uri = '/kml/' + territory + '.kml';
            if (geoXml !== null) {
                geoXml.hideDocument();
                delete geoXml;
            }
            geoXml = new geoXML3.parser({
                map: map,
                suppressInfoWindows: true,
                afterParse: setListeners
            });
            geoXml.parse(uri);
            selected = {};
            $(document).trigger('afe.map.select.change');
        });

        function initMap() {
            var mapOptions =
            {
                center: new google.maps.LatLng(60.0, 20.0),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                streetViewControl: false
            };

            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var $territory = $('#territory');
            $territory[0].selectedIndex = 0;
            $territory.trigger('change');
        }

        function setListeners(doc) {
            for (var i = 0; i < doc[0].gpolygons.length; i++) {
                polygonSelector(doc[0].gpolygons[i]);
            }
        }

        function polygonSelector(poly) {
            google.maps.event.addListener(poly, "click", function (event) {
                event.stop();
                var grid = poly.title;
                if (typeof selected[grid] == 'undefined' || selected[grid] == false) {
                    poly.setOptions({fillColor: "#0000FF", fillOpacity: 0.3});
                    selected[grid] = poly;
                } else {
                    poly.setOptions({fillOpacity: 0});
                    selected[grid] = false;
                }
                $(document).trigger('afe.map.select.change');
            });
        }

        initMap();
    })(jQuery, document, init, google, geoXML3);
    <?php $this->inlineScript()->captureEnd();?>
</script>
