<?php
$this->headScript()
    ->appendFile($this->basePath() . '/js/chosen.jquery.min.js')
    ->appendFile($this->basePath() . '/js/jquery.dataTables.min.js')
    ->appendFile($this->basePath() . '/js/jquery.dataTables.bootstrap.js');
$this->headLink()
    ->prependStylesheet($this->basePath() . '/css/chosen/chosen.min.css');
$users    = $this->users;
$userForm = $this->userForm;
$editForm = $this->editForm;
?>
<div class="page-header">
    <h1>
        Users management
    </h1>
</div>
<div class="table-header">
    All users
    <div class="col-sm-2 pull-right">
        <a href="#add-user-form" class="add-user btn btn-opaque" data-toggle="modal">
            <i class="fa fa-plus-circle"></i>
            Add new user
        </a>
    </div>
</div>

<div class="table-responsive">
    <div id="users_wrapper" class="dataTables_wrapper form-inline no-footer">
        <table id="users" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th class="hidden-480">Fullname</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($users as $user): /** @var \AFE\Model\User $user */?>
                <tr>
                    <td>
                        <?php echo $user->getUsername() ?>
                    </td>

                    <td>
                        <?php echo $user->getRole() ?>
                    </td>

                    <td class="hidden-480">
                        <?php echo $user->getFirstname() . ', ' . $user->getLastname()?>
                    </td>

                    <td>
                        <a href="mailto:<?php echo $user->getEmail() ?>"><?php echo $user->getEmail() ?></a>
                    </td>

                    <td>
                        <div class="action-buttons">
                            <a class="edit-user green tooltip-success" href="#" data-rel="tooltip" data-placement="top" data-user-id="<?php echo $user->getUserID()?>" title="Edit">
                                <i class="afe-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="delete-user red tooltip-error" href="#" data-rel="tooltip" data-placement="top" data-user-id="<?php echo $user->getUserID()?>" title="Delete">
                                <i class="afe-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
    </div>
</div>

<div id="add-user-form" class="modal" tabindex="-1">
    <?php echo $this->form()->openTag($userForm); ?>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Please fill the user information</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">

                        <?php echo $this->formRow($userForm->get('role'))?>

                        <label>Username</label>
                        <?php echo $this->formRow($userForm->get('username'))?>

                        <?php echo $this->formRow($userForm->get('email'))?>

                        <div class="form-group col-sm-12">
                            <label for="user-firstname">Name</label>
                            <div class="row">

                                <div class="col-sm-6">
                                    <?php echo $this->formElement($userForm->get('firstname'))?>
                                </div>
                                <div class="col-sm-6">
                                    <?php echo $this->formElement($userForm->get('lastname'))?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <?php echo $this->formRow($userForm->get('territories'))?>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
<?php echo $this->partial('afe/admin/user-edit',['editForm' => $editForm]) ?>

<script type="text/javascript">
    jQuery(function ($) {
        <?php if ($this->userAddError): ?>
        $('#add-user-form').modal('show');
        <?php endif ?>
        <?php if ($this->userEditError): ?>
        $('#edit-user-form').modal('show');
        <?php endif ?>
        $('#users')
            .dataTable({
                bAutoWidth: false,
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    { "bSortable": false }
                ],
                "aaSorting": []
            });

        $('[data-rel="tooltip"]').tooltip();

        $('.territories-select').chosen({width: "100%"});

        $(document).on('click','.edit-user', function() {
            var $this = $(this);
            var $target = $('#edit-user-form');
            $.get('/admin/users?userid=' + $this.data('userId'), function (data) {
                var $data = $(data);
                $target.html($data.html());
                $target.modal('show');
                $target.find('.territories-select').chosen({width: "100%"});
            })
        })
    })
</script>
