<?php
$editForm = $this->editForm;
?>
<div id="edit-user-form" class="modal" tabindex="-1">
    <?php echo $this->form()->openTag($editForm); ?>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Editing user <?php echo $editForm->get('username')->getValue()?></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">

                        <?php echo $this->formRow($editForm->get('userid'))?>

                        <?php echo $this->formRow($editForm->get('role'))?>

                        <?php echo $this->formRow($editForm->get('email'))?>

                        <div class="form-group col-sm-12">
                            <label for="user-firstname">Name</label>
                            <div class="row">

                                <div class="col-sm-6">
                                    <?php echo $this->formElement($editForm->get('firstname'))?>
                                </div>
                                <div class="col-sm-6">
                                    <?php echo $this->formElement($editForm->get('lastname'))?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <?php echo $this->formRow($editForm->get('territories'))?>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-warning pull-left">
                    <i class="afe-icon fa fa-envelope"></i>
                    Reset password
                </button>

                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="afe-icon fa fa-times"></i>
                    Cancel
                </button>

                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="afe-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>