<?php
$loginForm = $this->loginForm;
$loginForm->prepare();
$forgottenForm = $this->forgottenForm;
$forgottenForm->prepare();
?>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>
        <title>AFE login</title>
        <meta name="description" content="User login page"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="/css/afe.css"/>

        <script src="/js/jquery.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="login-layout">
    <div class="main-container">
    <div class="main-content">
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <div class="login-container">
    <div class="center">
        <h1>
            <i class="afe-icon fa fa-leaf green"></i>
            <span class="red">AFE</span>
            <span class="dark" id="id-text2"><?php echo $this->translate('Online')?></span>
        </h1>
    </div>

    <div class="space-6"></div>

    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <?php echo $this->form()->openTag($loginForm); ?>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="form-group">
                        <h4 class="header blue lighter bigger">
                            <i class="afe-icon fa fa-users"></i>
                            <?php echo $this->translate('Please Enter Your Information')?>
                        </h4>
                    </div>
                    <?php echo $this->Alert($this->status) ?>

                    <?php echo $this->formRow($loginForm->get('username'))?>

                    <?php echo $this->formRow($loginForm->get('password'))?>

                    <div class="space"></div>

                    <div class="form-group">
                        <label class="inline">
                            <?php echo $this->formElement($loginForm->get('remember'))?>
                            <span class="lbl"> <?php echo $this->translate('Remember Me')?></span>
                        </label>

                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="afe-icon fa fa-key"></i>
                            <span class="bigger-110"><?php echo $this->translate('Login')?></span>
                        </button>
                    </div>
                </div>

                <div class="toolbar clearfix">
                    <div>
                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                            <i class="afe-icon fa fa-arrow-left"></i>
                            <?php echo $this->translate('I forgot my password')?>
                        </a>
                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>

        <div id="forgot-box" class="forgot-box widget-box no-border">
            <?php echo $this->form()->openTag($forgottenForm); ?>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <h4 class="header red lighter bigger">
                            <i class="ace-icon fa fa-key"></i>
                            <?php echo $this->translate('Retrieve Password')?>
                        </h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="form-group">
                        <?php echo $this->translate('Enter your email and to receive instructions')?>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <?php echo $this->formRow($forgottenForm->get('email'))?>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                            <i class="afe-icon fa fa-lightbulb-o"></i>
                            <span class="bigger-110"><?php echo $this->translate('Send Me!')?></span>
                        </button>
                    </div>
                </div>

                <div class="toolbar center">
                    <a href="#" data-target="#login-box" class="back-to-login-link">
                        <?php echo $this->translate('Back to login')?>
                        <i class="afe-icon fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../assets/js/jquery1x.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        (function ($, document) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        })(jQuery, document);
    </script>

</body>
</html>