<?php
$passwordForm = $this->passwordForm;
$passwordForm->prepare();
?>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>
        <title>AFE login</title>
        <meta name="description" content="User login page"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="/css/afe.css"/>

        <script src="/js/jquery.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="login-layout">
    <div class="main-container">
    <div class="main-content">
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <div class="login-container">
    <div class="center">
        <h1>
            <i class="afe-icon fa fa-leaf green"></i>
            <span class="red">AFE</span>
            <span class="dark" id="id-text2"><?php echo $this->translate('Online')?></span>
        </h1>
    </div>

    <div class="space-6"></div>

    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <?php echo $this->form()->openTag($passwordForm); ?>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="form-group">
                        <h4 class="header blue lighter bigger">
                            <i class="afe-icon fa fa-users"></i>
                            <?php echo $this->translate('Enter Your New Password')?>
                        </h4>
                    </div>
                    <?php echo $this->Alert($this->status) ?>

                    <?php echo $this->formRow($passwordForm->get('password'))?>

                    <?php echo $this->formRow($passwordForm->get('password-confirmation'))?>

                    <div class="space"></div>

                    <div class="form-group">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="afe-icon fa fa-key"></i>
                            <span class="bigger-110"><?php echo $this->translate('Change')?></span>
                        </button>
                    </div>
                </div>

            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>