<?php
/* @var Zend\Navigation\Navigation $container */
$container = $this->container;
?>
<ul class="<?php echo $this->navigation()->menu()->getUlClass(); ?>">
    <?php foreach ($container as $page): ?>
        <?php if (!$this->navigation()->accept($page)) continue; ?>
        <?php /* @var Zend\Navigation\Page\Mvc $page */ ?>
        <?php if ($page->get('separator') == true):?>
            <li><h4 class="header"><?php echo $page->getLabel() ?></h4></li>
        <?php else: ?>
            <li class="nav-item<?php if ($page->isActive()) echo ' active' ?>">
                <a
                    class="nav-header"
                    href="<?php echo $page->getHref() ?>"
                    <?php if ($page->getTarget() != ""): ?>
                        target="<?php echo $page->getTarget(); ?>"
                    <?php endif; ?>
                    >
                    <?php if ($page->get("icon") !== ""): ?>
                        <span class="menu-icon <?php echo $page->get("icon"); ?>"></span>
                    <?php endif; ?>
                    <?php echo $page->getLabel() ?>
                </a>
            </li>
        <?php endif ?>
    <?php endforeach ?>
</ul>