<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('AFE')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/jquery.gritter.css')
                        ->appendStylesheet($this->basePath() . '/css/afe.css')
                        ->prependStylesheet($this->basePath() . '/css/jqx.bootstrap.css')
                        ->prependStylesheet($this->basePath() . '/css/jqx.base.css')
        ; ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/html5shiv.min.js', 'text/javascript', array('conditional' => 'lt IE9'))
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE9'))
            ->prependFile($this->basePath() . '/js/afe.js', 'text/javascript')
            ->prependFile($this->basePath() . '/js/jquery.gritter.min.js', 'text/javascript')
            ->prependFile($this->basePath() . '/js/jquery.fullscreen.js', 'text/javascript')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js', 'text/javascript')
            ->prependFile($this->basePath() . '/js/jqx-all.js', 'text/javascript')
            ->prependFile($this->basePath() . '/js/jquery.min.js', 'text/javascript')
        ; ?>
    </head>
    <body>
        <script>
            var init = [];
        </script>

        <div id="navbar" class="navbar navbar-default">

            <div class="navbar-container" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="fa fa-leaf"></i>
                            AFE
                        </small>
                    </a>
                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav afe-nav">
                        <li class="grey">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="afe-icon fa fa-user"></i>
                                    <span class="user-info">
                                        <small>Welcome,</small>
                                       <?php echo $this->User() ?>
                                    </span>

                                <i class="afe-icon fa fa-caret-down"></i>
                            </a>

                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">

                                <li>
                                    <a href="<?php echo $this->url('default', array('action' => 'logout', 'controller' => 'User'))?>">
                                        <i class="afe-icon fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-container" id="main-container">

            <div id="sidebar" class="sidebar responsive">
                <?php echo $this->
                navigation('navigation')
                    ->menu()
                    ->setUlClass('nav nav-list')
                    ->setPartial('partial/navigation.phtml');
                ?>
            </div>

            <div class="main-content">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <?php  echo $this->content; ?>
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- basic scripts -->
        <?php echo $this->inlineScript() ?>
        <script>
            afe.start(init);
        </script>
    </body>
</html>
