<div class="page-header">
    <h1>
        Atlas Florae Europaeae
    </h1>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Help &amp; Support') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis efficitur est faucibus commodo. Vestibulum posuere, nunc euismod pulvinar lacinia, dui risus sollicitudin ligula, quis ultrices odio nunc ac sem. In hac habitasse platea dictumst. Vivamus accumsan nisi nec sem suscipit, et consectetur augue lacinia. Nunc sed est tempor, placerat arcu et, ornare mauris. Fusce elementum eros ut tristique tristique. Sed sit amet feugiat augue. Mauris eget nunc fermentum, fringilla quam et, molestie sapien. Sed elementum pretium libero eu tincidunt. Donec convallis leo ut turpis viverra, ut tincidunt arcu venenatis. Fusce condimentum finibus massa, nec imperdiet tellus dictum eu. Morbi congue volutpat tempor.')) ?></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Follow Development') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('Lorem ipsum dolor sit amet,  Mauris eget nunc fermentum, fringilla quam et, molestie sapien. Sed elementum pretium libero eu tincidunt. Donec convallis leo ut turpis viverra, ut tincidunt arcu venenatis. Fusce condimentum finibus massa, nec imperdiet tellus dictum eu. Morbi congue volutpat tempor.')) ?></p>
            </div>
        </div>
    </div>

</div>
